<head>
  <script type="text/javascript">
    function resize() {
      document.getElementById('canvas').style.width = "400px";
      document.getElementById('canvas').style.height = "400px";
      }
    window.onload = resize;
  </script>
</head>
<body>
  <div class="content">
    <a onclick="load_out_big('/posts/?')"><h1>Rumblr</h1></a>
    <p>Ruby + Tumblr</p>
    <p>Photography blog</p>
    <div id="nav">
      <div class="row">
        <div class="column"></div>
        <div class="column right padded">
          <% if session['user_id'] == nil %>
            <a id="signup" class="btn" onclick="load_out_small('/users/signup')">Sign Up</a>
            <a id="login" class="btn" onclick="load_out_small('/login')">Log In</a>
          <% else %>
            <a id="newpost" class="btn" onclick="load_out_big('/posts/new')">New Post</a>
            <form id="logout" action="/logout" method="POST">
               <input type="submit" name="" value="Logout" onclick="transition()">
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
