<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link href="https://unpkg.com/lemoncss/dist/lemon.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/main.css">
<script src="/main.js"></script>
</head>
<body>
  <div id="easel">
    <div id="canvas">
        <a href="/"><h1>Rumblr</h1></a>
        <% if session['user_id'] != nil %>
          <a id="newpost" href="/posts/?" class="btn" onclick="load_out_big()">All Posts</a>
          <a id="newpost" href="/posts/new" class="btn" onclick="load_out_big()">New Post</a>
        <% end %>
        <% if session['user_id'] == nil %>
          <a id="signup" href="/users/signup" class="btn" onclick="load_out_small()">Sign Up</a>
          <a id="login" href="/login" class="btn" onclick="load_out_small()">Log In</a>
        <% else %>
          <a id="myacct" href="/users/<%=session[:user_id]%>" class="btn">My Account</a>
          <a id="logout" href="/logout" class="btn">Logout</a>
        <% end %>
        <%= yield %>
    </div>
  </div>
</body>
</html>
