<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link href="https://unpkg.com/lemoncss/dist/lemon.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/main.css">
<script src="/main.js"></script>
</head>
<body>
  <div id="easel">
    <div id="canvas">
        <div class="">
          <a href="/"><h1>Rumblr</h1></a>
        </div>
        <div class="">
          <% if session['user_id'] != nil %>
          <!-- <a href="/posts" class="btn">My Posts</a> -->
          <a id="newpost" href="/posts/new" class="btn" style=>New Post</a>
          <% end %>
        </div>
        <div class="">
        <% if session['user_id'] == nil %>
          <a id="signup" href="/signup" class="btn" >Sign Up</a>
          <a id="login" href="/login" class="btn">Log In</a>
        <% else %>
          <a id="myacct" href= <%= "/users/#{session[:user_id]}" %> class="btn">My Account</a>
          <a id="logout" href="/logout" class="btn">Logout</a>
        <% end %>
        </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
