body {
  background: rgb(255,255,255);
  background: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 27%, rgba(215,215,215,1) 100%);
}

#easel {
  background: rgb(255,255,255);
  background: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 27%, rgba(215,215,215,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#canvas {
  position: relative;
  background-color: #f5f5f5;
  width: 700px;
  height: 700px;
  overflow: auto;
  /* border: 0.1rem solid #333; */
  border-radius: 0.9rem;
  padding: 10px 10px 0px 10px;
  box-shadow: 25px 50px 50px #ccc;
}

#nav,
#anchor {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-left: -10px;
  border-top: 0.1rem solid #333;
  background-color: #f5f5f5;
  z-index: 1;
  margin-top: 10px;
}

#login,
#logout {
  margin-left: 10px;
}

#delete_account:hover,
#delete_account:focus,
#delete_account:active,
#delete_post:hover,
#delete_post:focus,
#delete_post:active  {
  background-color: #ff3333;
}

#textarea {
  width: 100%;
  appearance: none;
  background-color: transparent;
  box-shadow: none;
  border: 0.1rem solid #333;
  font-size: 1.5rem;
  border-radius: .4rem;
  box-sizing: inherit;
  padding: .6rem 1.0rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.profile_header {
  border-bottom: 0.1rem solid #333;
  margin-bottom: 20px;
}

.gallery {
  margin-top: 10px;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.padded {
  padding: 10px;
}

.padright {
  width: 50%;
  padding-right:.5rem;
}

.padleft {
  width: 50%;
  padding-left:.5rem;
}

.alert::placeholder {
  color: #ff3333;
  opacity: 1;
}

.alert:-ms-input-placeholder {
  color: #ff3333;
}

.alert::-ms-input-placeholder {
  color: #ff3333;
}

h1 {
  font-size: 11rem;
  font-family: monospace;
}

h2 {
  font-family: monospace;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 3rem;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-weight: 400;
}

.btn,
.btn:link,
.btn:visited,
button,
input[type=button],
input[type=reset],
input[type=submit],
input {
  background-color: #fff;
  border: .1rem solid #333;
  color: #333;
  margin-bottom: 0;
}

.btn:focus,
.btn:link:focus,
.btn:visited:focus,
button:focus,
input[type='button']:focus,
input[type='submit']:focus,
.btn:hover,
.btn:link:hover,
.btn:visited:hover,
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background-color: #333;
  border: 0.1rem solid #000;
  outline: 0;
  color: #fff;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='text'],
input[type='date'],
input:not([type]),
textarea,
select {
  font-size: 1rem;
  height: 3rem;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='text']:focus,
input[type='date']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #666;
	outline: 0;
}

a,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover,
a:focus,
a:link:focus,
a:visited:focus,
a:active,
a:link:active,
a:visited:active  {
  color: #666;
  text-decoration: none;
}


/* @media (max-width: 700px) {
  #canvas {
    width: 300px;
    height: 300px;
  }
} */
