body {
  background-color: #f5f5f5;
}

#easel {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#canvas {
  position: relative;
  background-color: #f5f5f5;
  width: 700px;
  height: 700px;
  overflow: auto;
  border: 0.1rem solid #333;
  border-radius: 0.4rem;
  padding: 10px;
}

#nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-left: -10px;
  border-top: 0.1rem solid #333;
}

#login,
#logout {
  margin-left: 10px;
}

#delete_account:hover,
#delete_account:focus,
#delete_account:active,
#delete_post:hover,
#delete_post:focus,
#delete_post:active  {
  background-color: #ff3333;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.alert::placeholder {
  color: #ff3333;
  opacity: 1;
}

.alert:-ms-input-placeholder {
  color: #ff3333;
}

.alert::-ms-input-placeholder {
  color: #ff3333;
}

h1 {
  font-size: 6rem;
}

h2 {
  cursor: pointer;
  margin-bottom: 0;
  font-size: 3rem;
  padding: 10px 0px 10px 0px;
}

.btn,
.btn:link,
.btn:visited,
button,
input[type=button],
input[type=reset],
input[type=submit],
input {
  background-color: #fff;
  border: .1rem solid #333;
  color: #333;
  margin-bottom: 0px;
}

.btn:focus,
.btn:link:focus,
.btn:visited:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  background-color: #333;
  border: 0.1rem solid #000;
  outline: 0;
  color: #fff;
}

.btn:hover,
.btn:link:hover,
.btn:visited:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background-color: #333;
  border: 0.1rem solid #000;
  outline: 0;
  color: #fff;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #666;
	outline: 0;
}

a,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover {
  color: #666;
  text-decoration: none;
}

a:focus,
a:link:focus,
a:visited:focus {
  color: #666;
  text-decoration: none;
}

a:active,
a:link:active,
a:visited:active {
  color: #666;
  text-decoration: none;
}

#textarea {
  min-height: 6.5rem;
  width: 100%;
  appearance: none;
  background-color: transparent;
  box-shadow: none;
  border: 0.1rem solid #333;
  font-size: 1.6rem;
  border-radius: .4rem;
  box-sizing: inherit;
  padding: .6rem 1.0rem;
  margin-bottom: 1.5rem;
  color: #333;
}

/* @media (max-width: 700px) {
  #canvas {
    width: 300px;
    height: 300px;
  }
} */
