<head>
  <script type="text/javascript">
    function resize() {
      document.getElementById('canvas').style.width = "400px";
      document.getElementById('canvas').style.height = "400px";
    }
    window.onload = resize;
  </script>
</head>
<body>
  <h3>Delete account?</h3>
  <h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>
  <p><%= @user.email %></p>
  <div id="anchor">
    <div class="row">
      <div class="column padded">
        <a class="btn" onclick="load_out_small('/users/<%= @user.id %>')">Cancel</a>
      </div>
      <div class="column right padded">
        <form action="/users/<%= @user.id %>/delete" method="POST">
          <input id="delete_account" type="submit" value="Delete account" onclick="transition()">
        </form>
      </div>
    </div>
  </div>
</body>
