<head>
  <script type="text/javascript">
    function resize() {
      document.getElementById('canvas').style.width = "400px";
      document.getElementById('canvas').style.height = "400px";
    }
    window.onload = resize;
  </script>
</head>
<body>
  <h3>Delete account?</h3>
  <h4><%= @user.name %></h4>
  <p><%= @user.email %></p>
  <div class="content">
    <a class="btn" onclick="load_out_small('/users/<%= @user.id %>')">Cancel</a>
    <form action="/users/<%= @user.id %>/delete" method="POST">
      <input id="delete_account" type="submit" value="Delete account" onclick="transition()">
    </form>
  </div>
</body>
