<head>
  <script type="text/javascript">
    function resize() {
      document.getElementById('canvas').style.width = "300px";
      document.getElementById('canvas').style.height = "300px";
    }
    window.onload = resize;
  </script>
</head>
<body>
  <div class="">
    <h2 class="">Login</h2>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Submit" onclick="loginTransition()">
    </form>
  </div>
</body>
