
<head>
  <script type="text/javascript">
    function resize() {
      document.getElementById('canvas').style.width = "300px";
      document.getElementById('canvas').style.height = "300px";
      }
      window.onload = resize;
  </script>
</head>
<body>
<form action="/posts/new" method="POST">
  <input type="text" name="title" value="" placeholder="Title"><br>
  <input type="textarea" name="content" value="" placeholder="Content"><br>
  <p>
    <input type="submit" name="" value="Submit" onclick="loginTransition()">
  </p>
</form>
</body>

<!-- <form action="/save" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" value="" placeholder="Title">
    <input type="file" name="file">
    <input type="submit" value="Upload image">
</form> -->
