
<% if session['user_id'] == @post.id %>
  <form class="" action=<%= "/delete_post/#{@post.id}" %> method="POST">
    <input type="submit" name="submit" value="delete">
  </form>
<% end %>
<div class="smallBox">
<a href=<%= "/users/#{@post.id}" %>><h1><%= @post.title %></h1></a><br>
  <img src="<%= @post.imageURL %>">
</div>
